html {
  font-size: 16px;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

body {
  background-image: url("assets/bg.jpg");
  backface-visibility: hidden;
  background-repeat: repeat;
  padding: 50px; }

.header {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .header {
      font-size: 2.125rem;
      padding: 20px; } }
  @media (min-width: 1024px) {
    .header {
      font-size: 2.125rem;
      padding: 30px; } }
  .header button {
    font-size: 20px; }

.container {
  column-count: 2;
  background-image: url("assets/bg.jpg");
  margin: auto; }

.subCards {
  border: 2px black solid;
  text-align: center;
  padding: 20px;
  size: 320px;
  overflow: scroll;
  background-color: aqua;
  width: 311px;
  height: 386px; }

.image {
  width: 137px;
  height: 137px; }
