@import 'reset';
@import 'variables';
@import 'mixins';

body{
  background-image: url("assets/bg.jpg");
  backface-visibility: hidden;
  background-repeat: repeat;
  padding: 50px;
}

.header{
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;

  @include tablet{
    font-size: 2.125rem;
    padding: 20px;
  }
  @include desktop {
    font-size: 2.125rem;
    padding: 30px;
  }
  button{
    font-size: 20px;
  }

}
.container {
  column-count: 2;
  background-image: url("assets/bg.jpg");
 // height: 100%;
  //min-width: 400px;
 // max-width: 768px;
  margin: auto;
}

.subCards {
  border: 2px black solid;
  text-align: center;
  padding: 20px;
  size: 320px;
  overflow: scroll;
  background-color: aqua;
  width: 311px;
  height: 386px

}

.image{
    width: 137px;
    height: 137px;
}